$green: #24D024;
$yellow: #fff952;
$pink: #f53896;
$red: #fb4545;
$blue: #0A53DE;
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
body {
  background-color: #000000;
  overflow : hidden;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 80px;
  text-align: center;
  color: white;
  letter-spacing: 3px;
}

.drop {
  position: absolute;
  top: 0;
  z-index: 1;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px #FFF
}

.animate {
  animation: falling 5.5s infinite ease-in;
}

@keyframes falling {
  0% {
    top: -10px;
    // opacity: 1;
  }
  10% {
    transform: translateX(-5px)
  }
  20% {
    transform: translateX(5px)
  }
  30% {
    transform: translateX(-5px)
  }
  40% {
    transform: translateX(5px)
  }
  60% {
    transform: translateX(-5px)
  }
  70% {
    transform: translateX(5px)
  }
  80% {
    transform: translateX(-5px)
  }
  90% {
    transform: translateX(5px)
  }
  95% {
    opacity: 1
  }
  100% {
    top: 95vh;
    opacity: 0;
  }
}

.light {
  width: 100%;
}
.line{
  text-align: center;
  padding: 0;
}

.line li {
  position: relative;
  margin: 0 15px;
  list-style: none;
  padding: 0;
  display: inline-block;
  width: 12px;
  height: 28px;
  border-radius: 50%;
  top: 35px;
  background: #fff;

  &:first-child {
    margin-left: -40px;
  }
  &:before {
    content: "";
    position: absolute;
    background: #222;
    width: 10px;
    height: 9px;
    border-radius: 3px;
    top: -4px;
    left: 1px;
  }
  &:after {
    content: "";
    top: -14px;
    left: 9px;
    position: absolute;
    width: 52px;
    height: 19px;
    border-bottom: solid #222 2px;
    border-radius: 30%;
  }
}
.line .red {
  background-color: $red;
  animation: lightningRed 1s infinite;
}

.line .green {
  background-color: $green;
  animation: lightningGreen 1.5s infinite;
}

.line .yellow {
  background-color: $yellow;
  animation: lightningYellow 2s infinite;
}

.line .blue {
  background-color: $blue;
  animation: lightningBlue 2.5s infinite;
}

.line .pink {
  background-color: $pink;
  animation: lightningPink 2s infinite;
}

@keyframes lightningRed {
  0% {
    box-shadow: 5px 10px 35px 10px $red;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 5px 10px 35px 10px $red;
  }
}

@keyframes lightningGreen {
  0% {
    box-shadow: 5px 0 35px 10px $green;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 5px 0 35px 10px $green;
  }
}

@keyframes lightningYellow {
  0% {
    box-shadow: 5px 0 35px 10px $yellow;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 5px 0 35px 10px $yellow;
  }
}

@keyframes lightningBlue {
  0% {
    box-shadow: 5px 0 35px 10px $blue;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 5px 0 35px 10px $blue;
  }
}

@keyframes lightningPink {
  0% {
    box-shadow: 5px 0 35px 10px $pink;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 5px 0 35px 10px $pink;
  }
}

@media (max-width: 1024px) {
  .line{
    padding: 0;
  }
  li {
    margin: 0 15px 20px 15px;
  }
}


.rotatingText {
  align-items: center;
  display: flex;
  height: 100vh;
  text-align: center;
}

